# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.venv/
env/

# Node
node_modules/
package-lock.json

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
*.log
